# wget https://download.opensuse.org/repositories/isv:/cri-o:/stable:/v1.36/deb/Release.key -O /etc/apt/keyrings/crio.asc
X-Repolib-Name: crio
Types: deb
URIs: https://download.opensuse.org/repositories/isv:/cri-o:/stable:/v1.36/deb/
Signed-By: /etc/apt/keyrings/crio.asc
Suites: /
Architectures: {{ "amd64" if architecture == "x86-64" else architecture }}
Enabled: no
