Types: deb
URIs: https://developer.download.nvidia.com/compute/cuda/repos/debian13/{{ "amd64" if architecture == "x86-64" else architecture }}/
Suites: /
Signed-By: /etc/apt/keyrings/cuda_debian_prod.gpg
Enabled: no
