Types: deb
URIs: https://developer.download.nvidia.com/hpc-sdk/ubuntu/{{ "amd64" if architecture == "x86-64" else architecture }}/
Suites: /
Signed-By: /etc/apt/keyrings/nvidia-hpcsdk-archive-keyring.gpg
Enabled: no
