# Set the recordfail timeout
GRUB_RECORDFAIL_TIMEOUT=0

# Do not wait on grub prompt
GRUB_TIMEOUT=0

# Set the default commandline
#GRUB_CMDLINE_LINUX_DEFAULT="console=ttyS0 rd.emergency=poweroff transparent_hugepage=madvise"

# Set the grub console type
GRUB_TERMINAL=console
